@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
:root {
  --color-pink: hsl(322, 100%, 66%);
  --color-light-pink: hsl(321, 100%, 78%);
  --color-light-red: hsl(0, 100%, 63%);
  --color-dark-cyan: hsl(192, 100%, 9%);
  --color-pale-blue: hsl(207, 100%, 98%);
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray: hsl(0, 0%, 75%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
}

a:link,
a:visited {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  font-size: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

p {
  font-size: 0.875rem;
  line-height: 1.5;
}

.heading--hero {
  margin-bottom: 1.5rem;
}
.heading--cta {
  margin-bottom: 2.5rem;
}

.subheading {
  margin-bottom: 1rem;
}
.subheading--footer {
  text-transform: uppercase;
}

.paragraph--hero {
  margin-bottom: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.paragraph--benefit {
  width: 86%;
  margin: 0 auto;
}
.paragraph--footer {
  margin-bottom: 2rem;
  font-size: 0.9375rem;
  line-height: 1.6;
}

header {
  width: 87.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem auto 7.5rem;
}

footer {
  position: relative;
  padding: 3.5rem 1.75rem 2.75rem;
  color: var(--color-pale-blue);
  background-color: var(--color-dark-cyan);
}
footer::before {
  position: absolute;
  content: "";
  top: -3.282rem;
  left: 0;
  width: 100%;
  height: 3.3125rem;
  background-image: url(../../images/bg-footer-top-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.button {
  display: block;
  border-radius: 2rem;
}
.button--header {
  padding: 0.25rem 1.15rem;
  font-size: 0.6rem;
  color: var(--color-light-pink);
  border: 1px solid var(--color-light-pink);
}
.button--hero, .button--cta {
  padding: 0.75rem 0rem;
  width: 12.5rem;
  font-size: 0.75rem;
  color: var(--color-white);
  background-color: var(--color-pink);
  border: 1px solid var(--color-pink);
  margin: 0 auto;
}
.button--hero {
  margin-bottom: 6rem;
}

.icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
}

.icon-box {
  cursor: pointer;
}

.icon {
  display: block;
  margin: auto;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-white);
}

.page__logo--header {
  width: 6rem;
  height: auto;
}
.page__logo--footer {
  width: 12.5rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}
.page__hero {
  width: 87.5%;
  margin: 0rem auto 9rem;
  text-align: center;
}
.page__mockup {
  width: 100%;
  padding: 0rem 0.875rem;
}
.page__stats, .page__benefits, .page__cta {
  text-align: center;
}
.page__stats {
  margin-bottom: 9rem;
}
.page__stat {
  position: relative;
  font-weight: 700;
}
.page__stat span {
  display: block;
  color: var(--color-gray);
  font-size: 0.875rem;
  font-weight: 600;
}
.page__stat::before {
  position: absolute;
  content: "";
  top: -20%;
  background-repeat: no-repeat;
  background-size: 60% 60%;
}
.page__stat:first-child {
  font-size: 3.75rem;
  margin-bottom: 7.5rem;
}
.page__stat:first-child span {
  margin-top: 0.5rem;
}
.page__stat:first-child::before {
  width: 47px;
  height: 41px;
  background-image: url(../../images/icon-communities.svg);
}
.page__stat:last-child {
  font-size: 3.25rem;
}
.page__stat:last-child::before {
  width: 48px;
  height: 40px;
  background-image: url(../../images/icon-messages.svg);
}
.page__benefits {
  margin-bottom: 10.5rem;
}
.page__benefit--1, .page__benefit--3 {
  position: relative;
  margin-bottom: 6rem;
  background-color: var(--color-pale-blue);
}
.page__benefit--1::before, .page__benefit--1::after, .page__benefit--3::before, .page__benefit--3::after {
  position: absolute;
  content: "";
  left: 0rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.page__benefit--1::after, .page__benefit--3::after {
  top: 100%;
}
.page__benefit--1, .page__benefit--2 {
  padding-top: 5rem;
  padding-bottom: 4rem;
}
.page__benefit--1::before {
  height: 7rem;
  top: -7rem;
  background-image: url(../../images/bg-section-top-mobile-1.svg);
}
.page__benefit--1::after {
  height: 3.25rem;
  background-image: url(../../images/bg-section-bottom-mobile-1.svg);
}
.page__benefit--2 {
  margin-bottom: 9.75rem;
}
.page__benefit--3 {
  padding-top: 1rem;
  padding-bottom: 7rem;
}
.page__benefit--3::before {
  height: 6.4375rem;
  top: -6.4375rem;
  background-image: url(../../images/bg-section-top-mobile-2.svg);
}
.page__benefit--3::after {
  height: 6.3125rem;
  background-image: url(../../images/bg-section-bottom-mobile-2.svg);
}
.page__illustration {
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
}
.page__illustration--1 {
  margin-bottom: 4.5rem;
}
.page__illustration--2 {
  margin-bottom: 6rem;
}
.page__illustration--3 {
  margin-bottom: 5rem;
}
.page__cta {
  margin-bottom: 18.75rem;
}
.page__form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  margin-bottom: 6rem;
}
.page__form > input {
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
}
.page__form > input[type=email] {
  grid-row: 1/span 1;
  grid-column: 1/span 2;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}
.page__form > input[type=submit] {
  grid-row: 2/span 1;
  grid-column: 2/span 1;
  background-color: var(--color-pink);
  color: var(--color-white);
  font-weight: 600;
}
.page__about {
  margin-bottom: 3rem;
}
.page__contact {
  margin-bottom: 3rem;
}
.page__phone, .page__email {
  display: flex;
  column-gap: 1rem;
  font-size: 0.875rem;
}
.page__phone {
  margin-bottom: 1.5rem;
}

.attribution {
  display: none;
}
