$breakpoint-mobile: 65em;

:root {
  --color-pink:       hsl(322, 100%, 66%);
  --color-light-pink: hsl(321, 100%, 78%);
  --color-light-red:  hsl(0, 100%, 63%);
  --color-dark-cyan:  hsl(192, 100%, 9%);
  --color-pale-blue:  hsl(207, 100%, 98%);
  --color-black:      hsl(0, 0%, 0%);
  --color-white:      hsl(0, 0%, 100%);
  --color-gray:       hsl(0, 0%, 75%);
}
