@use "../abstracts/variables" as *;

footer {
  position: relative;
  padding: 3.5rem 1.75rem 2.75rem;
  color: var(--color-pale-blue);
  background-color: var(--color-dark-cyan);

  &::before {
    position: absolute;
    content: "";
    top: -3.282rem;
    left: 0;
    width: 100%;
    height: 3.3125rem;
    background-image: url(../../images/bg-footer-top-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
