@use "../abstracts/variables" as *;

header {
  width: 88.75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem auto 7.5rem;

  @media only screen and (min-width: $breakpoint-mobile) {
    width: 91%;
    margin: 2.35rem auto 7.25rem;
  }
}
