@use "../abstracts/variables" as *;

.button {
  display: block;
  border-radius: 2rem;

  &--header {
    padding: 0.25rem 1.15rem;
    color: var(--color-pink);
    border: 1px solid var(--color-pink);
    box-shadow: 0px 1px 6px -1px var(--color-pink);
    transition: all 0.3s;

    &:hover {
      color: var(--color-light-pink);
      border: 1px solid var(--color-light-pink);
      box-shadow: 0px 1px 6px -1px var(--color-light-pink);
    }
  }

  &--hero,
  &--cta {
    padding: 0.75rem 0rem;
    width: 12.5rem;
    font-size: 0.75rem;
    color: var(--color-white);
    background-color: var(--color-pink);
    border: 1px solid var(--color-pink);
    margin: 0 auto;
    box-shadow: 0px 1px 16px -6px var(--color-dark-cyan);
    transition: all 0.3s;

    &:hover {
      background-color: var(--color-light-pink);
      border: 1px solid var(--color-light-pink);
    }
  }

  &--hero {
    margin-bottom: 6rem;
  }
}

@media only screen and (min-width: $breakpoint-mobile) {
  .button {
    &--header {
      padding: 0.25rem 1rem;
      font-size: 0.5rem;
    }

    &--hero {
      margin-bottom: 3.5rem;
      font-size: 0.65rem;
    }

    &--cta {
      font-size: 0.65rem;
    }
  }
}
