@use "../abstracts/variables" as *;

.icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
}

.icon-box {
  cursor: pointer;
}

.icon {
  display: block;
  margin: auto;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-white);

  @media only screen and (min-width: $breakpoint-mobile) {
    height: 1rem;
    width: 1rem;
  }
}
