*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  display: block;
}

a:link,
a:visited {
  text-decoration: none;
}

p {
  font-size: 0.875rem;
  line-height: 1.5;
}

li {
  list-style: none;
}

h2 {
  font-size: 1.25rem;
}
