@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

html {
  font-size: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

p {
  font-size: 0.875rem;
  line-height: 1.5;
}

.heading {
  &--hero { margin-bottom: 1.5rem; }
  &--cta { margin-bottom: 2.5rem; }
}

.subheading {
  margin-bottom: 1rem;

  &--footer {
    text-transform: uppercase;
  }
}

.paragraph {
  &--hero {
    margin-bottom: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  &--benefit {
    width: 86%;
    margin: 0 auto;
  }

  &--footer {
    margin-bottom: 2rem;
    font-size: 0.9375rem;
    line-height: 1.6;
  }
}
