@use "../abstracts/variables" as *;

.page {
  &__hero {
    width: 87.5%;
    text-align: center;
  }

  &__mockup {
    width: 100%;
  }

  &__stats,
  &__benefits,
  &__cta {
      text-align: center;
  }

  &__stat {
    position: relative;
    font-weight: 700;

    span {
      display: block;
      color: var(--color-gray);
      font-size: 0.875rem;
      font-weight: 600;
    }

    &::before {
      position: absolute;
      content: "";
      top: -20%;
      left: 50%;
      background-repeat: no-repeat;
      background-size: 20% 60%;
      width: 40%;
      height: 40%;
      transform: translateX(-50%);
    }

    &:first-child {
      font-size: 3.75rem;

      &::before {
        background-image: url(../../images/icon-communities.svg);
      }
    }

    &:last-child {
      font-size: 3.25rem;

      &::before {
        background-image: url(../../images/icon-messages.svg);
      }
    }
  }

  &__benefit {
    &--1 {
      position: relative;
      background-color: var(--color-pale-blue);

      &::before,
      &::after {
        position: absolute;
        content: "";
        left: 0rem;
        width: 100%;
        height: 20%;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &::before {
        top: -7rem;
        background-image: url(../../images/bg-section-top-mobile-1.svg);
      }

      &::after {
        top: 100%;
        background-image: url(../../images/bg-section-bottom-mobile-1.svg);
      }
    }

    &--3 {
      position: relative;
      background-color: var(--color-pale-blue);

      &::before,
      &::after {
        position: absolute;
        content: "";
        left: 0rem;
        width: 100%;
        height: 20%;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &::before {
        top: -6.4375rem;
        background-image: url(../../images/bg-section-top-mobile-2.svg);
      }

      &::after {
        top: 100%;
        background-image: url(../../images/bg-section-bottom-mobile-2.svg);
      }
    }
  }

  &__illustration {
    width: 100%;
  }

  &__subheading {
    &--footer {
      text-transform: uppercase;
    }
  }

  &__paragraph {
    &--footer {
      font-size: 0.9375rem;
      line-height: 1.6;
    }
  }

  &__form {
    display: grid;
    grid-template-rows: 1fr 1fr;;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;

    & > input {
      font-size: 1rem;
      border: none;
      border-radius: 0.25rem;
    }

    & > input[type="email"] {
      grid-row: 1 / span 1;
      grid-column: 1 / span 2;
      padding-top: 0.9rem;
      padding-bottom: 0.9rem;
    }

    & > input[type="submit"] {
      grid-row: 2 / span 1;
      grid-column: 2 / span 1;
      background-color: var(--color-pink);
      color: var(--color-white);
      font-weight: 600;
    }
  }

  &__phone,
  &__email {
    display: flex;
    column-gap: 1rem;
    font-size: 0.875rem;
  }

  &__icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;

  }

  &__icon-box {
    cursor: pointer;
  }

  &__icon {
    display: block;
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--color-white);
  }
}

.attribution {
  display: none;
}
